body {
    font-family: 'Graduate', cursive;
    }
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-family: 'lato';
        font-size: 1.5rem;
        line-height: 2rem;
    }